/************ Custom Font ************/
@font-face {
  font-family: Centra;
  /*src: url('./assets/font/CentraNo2-Bold.ttf');*/
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  /*src: url('./assets/font/CentraNo2-Medium.ttf');*/
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  /*src: url('./assets/font/CentraNo2-Book.ttf');*/
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outlined-text: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ App Css ************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************ File Uploader Css ************/

.file-uploader-container {
  width: 35%;
  margin: auto;
  font-family: Hind, sans-serif;
  font-size: 22px;
  /*border: 1px deepskyblue solid;*/
}

.max-size-text {
  font-size: 16px;
}

.meta-data-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meta-data-box{
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.drag-area {
  position: relative;
  padding: 20px;
  cursor: pointer;
  border: 2px dashed #CACACA;
  background-clip: padding-box;
  background-image: linear-gradient(gray 45deg, gray 45deg), linear-gradient(gray 135deg, gray 135deg), linear-gradient(gray -45deg, gray -45deg), linear-gradient(gray -135deg, gray -135deg);
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  color: #888;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition: border 0.3s ease; /* Smooth transition for hover */
}

.drag-area:hover {
  border: 2px solid #CACACA;
}

.purple-tag {
  color: #805DAB;
}

.file-list {
  margin-top: 20px;
}

.file-container{
  border: 1px deeppink solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.file-entry {
  background-color: #f0f0f0;
  /*border: 1px solid red;*/
  padding: 10px;
  margin-bottom: 10px;
}

.file-entry p {
  margin: 5px 0;
  color: #333;
}

.file-uploader-container progress {
  width: 100%;
  height: 20px;
}

.file-uploader-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-uploader-container button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {

  .meta-data-container{
    width: 100%;
    border: 1px yellow solid;
  }
  .file-uploader-container {
    width: 90%;
  }
}

/************ Tracker Css ************/

.unfollowerTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/img/banner-bg.png');
  background-size: cover;
  color: white;
  height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carouselIndicator {
  display: flex;
  gap: 5px;
}

.uploadArea {
  border: 2px dashed #fff;
  padding: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.uploadArea:hover {
  border-color: #888;
}

.fileList {
  width: 300px;
}

.fileProgress {
  margin-top: 10px;
}

.progressBar {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

.analyzeButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

.analyzeButton:disabled {
  background-color: #ccc;
}

/************ FileUploader Css ************/

.container {
  width: 35%;
  margin: auto;
  font-family: 'Hind', sans-serif;
  font-size: 22px;
}

.drag-area {
  position: relative;
  padding: 20px;
  cursor: pointer;
  border: 2px dashed #cacaca;
  background-clip: padding-box;
  background-image: linear-gradient(gray 45deg, gray 45deg),
  linear-gradient(gray 135deg, gray 135deg),
  linear-gradient(gray -45deg, gray -45deg),
  linear-gradient(gray -135deg, gray -135deg);
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  color: #888;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition: border 0.3s ease;
}

.drag-area:hover {
  border: 2px solid #cacaca;
}

.upload-icon,
.html-icon {
  width: 60px;
  height: 60px;
}

.purple-tag {
  color: #805dab;
}

.max-size-text {
  font-size: 16px;
}

.file-entry {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-entry-text {
  margin: 5px 0;
  color: #333;
}

.progress {
  width: 100%;
  height: 20px;
  appearance: none;
}

.progress-color {
  background-color: #fbfbfb;
}

.hidden-input {
  display: none;
}

.close-button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-left: auto;
}

.close-button:hover {
  background-color: #c0392b;
}

/************ Carousel Css ************/

.simple-carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto 1.5rem;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px white solid;
  /*height: 800px;*/
}

.carousel-item {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  width: 4.5%;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.dots {
  text-align: center;
  padding: 10px 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 1px black solid;
}

.dot.active {
  background-color: #09F7A5;
  border: 1px transparent solid;
}

@media (max-width: 768px) {
  .prev-button, .next-button {
    top: 50%;
    width: 10%;
  }
}

@media (min-width: 1000px){
  .carousel-inner {
    height: 900px;
  }
}